:host {
  padding: 36px;
  display: block;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

app-skeleton {
  margin-bottom: 22px;
}

.options-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
